.lock-cls-1, .lock-cls-2 {
  fill: none;
  stroke: LightSalmon;
  stroke-width: 2px;
}

.lock-cls-1 {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.lock-cls-2 {
  stroke-miterlimit: 10;
}

.off-cls-1 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3.75px;
}

.off-cls-1:hover {
  fill: none;
  stroke: #c24d4d;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3.75px;
}

.ddip-cls-1 {
  fill: #ffc422;
}

.ddip-cls-2 {
  fill: #fff;
}
